body{

    background: url(http://villahippocampo.com/images/background_secondary_v2.jpg);
    background-repeat: no-repeat;
}
#title{
	font-size:x-large;
	text-align: left;
	
}
.form{
     font-size:medium;
      text-align: left;

}
#picture{

	 margin: auto;    
	 width:300px;
	 max-width: 300px;

	 padding: 10px;
	   width: 300px;

}
